/* Generic */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, span, p, div {
    cursor: default;
}

a, select, input[type=checkbox], input::-webkit-calendar-picker-indicator, input[type=month] {
    cursor: pointer;
}

.carousel button span{
    cursor: pointer!important;    
}

body, html {
    margin: 0;
    padding: 0!important;
    width: 100%;
    min-height: 100vh;
}

section{
    min-height: calc(100vh - 180px);
    height: auto;
}

.preloader *{
    transition: none!important;
}

.navbar{
    margin-bottom: 15px!important;
}

#connection_page, #register_page, #account_page{
    max-width: 800px;
}

h1{
    margin-bottom: 15px;
}

#register_page button[type=reset]{
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
}

#register_page button{
    width: 100%;
}